HOST_PORT=8080
PORT=8080
LOG_LEVEL=INFO
SUPABASE_API_URL=http://127.0.0.1:54321
SUPABASE_API_SECRET_KEY=supabase_api_secret_key
SUPABASE_DATABASE_URL=postgresql://postgres:postgres@localhost:54322/postgres

# Configuration is only needed for a local Supabase instance
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_ID=google_client_id
SUPABASE_AUTH_EXTERNAL_GOOGLE_SECRECT=google_secrect
SUPABASE_AUTH_EXTERNAL_GOOGLE_REDIRECT_URI=http://localhost:54321/auth/v1/callback

RESEND_API_KEY=resend_api_key
RESEND_SENDER=onboarding@resend.dev
RESEND_TEST_RECIPIENT=your@email.com
RESEND_SEND_TO_REAL_RECIPIENTS=false

CLIENT_SERVICE_URL=http://localhost:8080
CLIENT_SERVICE_SIGN_UP_ROUTE=sign-up
CLIENT_SERVICE_ACCEPT_INVITATION_ROUTE=accept-invite
CLIENT_SERVICE_REJECT_INVITATION_ROUTE=reject-invite
