PORT=8080
LOG_LEVEL=INFO
SUPABASE_API_URL=http://127.0.0.1:54321
SUPABASE_SECRET_KEY=

MAILER_TESTING_MODE=true
MAILER_RESEND_API_KEY=
MAILER_SENDER=onboarding@resend.dev
MAILER_TEST_RECIPIENT=delivered@resend.dev

SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_ID=
SUPABASE_AUTH_EXTERNAL_GOOGLE_SECRECT=
SUPABASE_AUTH_EXTERNAL_GOOGLE_REDIRECT_URI=http://localhost:54321/auth/v1/callback
